<h1 class="text-xl text-right text-cyan-700 font-bold">Add comment</h1>
<%= form_with model: [:user, :post, @comment], html: {class: "text-2xl flex flex-col"} do |form| %>
  <%= form.label :text, class: "font-bold text-cyan-900 mx-2 my-4 text-lg"  %>
  <%= form.text_area :text, rows: 10, class: "rounded-md border border-cyan-700 text-cyan-900" %>
  <%= form.submit class: "border border-zinc-300 p-2 bg-cyan-700 my-2 text-zinc-100 font-bold rounded-md" %>
<% end %>
