<h1 class="text-xl text-right text-cyan-800 font-bold">Users</h1>
<% @users.each do |user| %>
  <div class="flex my-3 rounded-md border border-cyan-900/50 overflow-y-hidden h-20">
    <img src="<%= user.photo %>" class="w-1/5 rounded-l-md h-fit"/>
    <div class="w-4/5 px-2 pt-4 flex flex-col">
      <h2 class="text-lg font-bold text-cyan-700"><%= link_to user.name, user %></h2>
      <p class="text-sm text-right w-full text-cyan-800/80">Number of Posts:
        <%= user.posts.count %></p>
    </div>
  </div>
<% end %>
